.hero {
  height: 100%;
  width: 100%;
  background-color: rgb(23, 45, 60);
  background-size: cover;

  position: relative;
}
.image {
  top: 20%;
  height: 50%;
  width: 45%;

  left: 3%;
  position: absolute;
}

.text {
  color: rgb(221, 216, 216);
  position: absolute;
  font-family: "ABeeZee";
  font-size: 13px;
  width: 40%;
  bottom: 10%;
  left: 5%;
  top: 60%;
}
.form-box {
  position: absolute;
  width: 30%;
  height: 90%;
  right: 7%;
  top: 5%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.form-group label {
  color: rgb(15, 26, 47);
  font-family: "ABeeZee";
  font-size: 12px;
  top: 25%;
}

.login {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 20%;

  left: 18%;
  bottom: 5%;
  padding: 15px;
  display: block;
}
.Register {
  position: absolute;
  width: 70%;
  height: 80%;
  top: 20%;
  box-sizing: border-box;
  left: 20%;
  padding: 15px;
  display: none;
}

#span {
  font-family: "ABeeZee";
  font-size: 12px;
  position: absolute;
  left: 60%;
  bottom: 60%;
  margin: 4px;
}
#button {
  color: rgb(255, 255, 255);
  position: absolute;
  font-family: "ABeeZee";
  font-size: 13px;

  background-color: rgba(23, 45, 60, 0.774);
  border-radius: 5px;
  text-align: center;
  width: 65%;

  padding: 15px;
  left: 18%;
  bottom: 30%;

  margin: 2%;
  border: rgb(23, 45, 60);
}
#Not {
  font-family: "ABeeZee";
  font-size: 13px;
  position: absolute;
  left: 15%;
  bottom: 17%;

  width: 30%;
  margin: 10px;
}
#reg {
  font-family: "ABeeZee";
  font-size: 13px;
  position: absolute;
  left: 60%;
  bottom: 19%;
  padding: 5px;
  margin: 10px;
}
#pass1 {
  margin: 10px;
  width: 200px;
  right: 50px;
}
#span1 {
  font-family: "ABeeZee";
  font-size: 15px;
  position: absolute;
  left: 144px;
  margin: 10px;
}
#button1 {
  color: rgb(255, 255, 255);
  position: absolute;
  font-family: "ABeeZee";
  font-size: 13px;

  background-color: rgba(23, 45, 60, 0.774);
  border-radius: 5px;
  text-align: center;
  width: 65%;

  padding: 15px;
  left: 18%;
  bottom: 30%;

  margin: 2%;
  border: rgb(23, 45, 60);
}
#Loginchange1 {
  width: 125px;
  float: left;
  font-family: "ABeeZee";
  font-size: 15px;
  border-bottom: 2px solid;
  border-color: rgba(23, 39, 70, 0.603);
  text-align: center;
  padding: 5px;
}
#Loginchange2 {
  width: 125px;
  float: left;
  font-family: "ABeeZee";
  font-size: 15px;
  border-bottom: 2px solid;
  border-color: rgba(23, 39, 70, 0.24);
  text-align: center;
  padding: 5px;
}
.change {
  position: absolute;
  font-family: "ABeeZee";
  font-size: 15px;
  float: left;
  width: 70%;
  height: 20%;
  top: 5%;
  box-sizing: border-box;
  left: 20%;
  padding: 15px;
}
@media screen and (max-width: 640px) {
  .image {
    width: 80%;
    top: 5%;
  }

  .text {
    width: 80%;
    top: 40%;
    font: 100%;
  }
  .hero {
    height: 200%;
    width: 100%;
  }
  .form-box {
    width: 80%;
    top: 60%;
    height: 40%;
  }
  #span {
    bottom: 48%;
  }
  #button1 {
    bottom: 1%;
  }
}
